<div>
                        <h4>Sexual Violence</h4>
                        <ul class="warning-list">
                            <li>Marital rape (Chapters 16, 18)</li>
                            <li>Sexual coercion and manipulation</li>
                            <li>Unwanted physical arousal during assault</li>
                            <li>Forced intimacy and "wifely duties"</li>
                            <li>Pregnancy resulting from rape</li>
                        </ul>
                    </div><div>
                        <h4>Religious/Spiritual Abuse</h4>
                        <ul class="warning-list">
                            <li>Cult indoctrination and control</li>
                            <li>Spiritual manipulation</li>
                            <li>Religious extremism</li>
                            <li>Forced conversion</li>
                            <li>Shunning and social death</li>
                        </ul>
                    </div><div>
                        <h4>Psychological Abuse</h4>
                        <ul class="warning-list">
                            <li>Gaslighting and reality distortion</li>
                            <li>Systematic isolation</li>
                            <li>Emotional manipulation</li>
                            <li>Trauma bonding</li>
                            <li>Identity destruction</li>
                        </ul>
                    </div><div>
                        <h4>Mental Health</h4>
                        <ul class="warning-list">
                            <li>Suicidal ideation (Chapter 19)</li>
                            <li>Suicide attempt</li>
                            <li>Dissociation and depersonalization</li>
                            <li>Complex PTSD</li>
                            <li>Severe depression</li>
                        </ul>
                    </div><div>
                        <h4>Violence</h4>
                        <ul class="warning-list">
                            <li>Public execution</li>
                            <li>Mob violence</li>
                            <li>Torture and interrogation</li>
                            <li>Body horror (Beastborn)</li>
                            <li>Child death (backstory)</li>
                        </ul>
                    </div><div>
                        <h4>Family Trauma</h4>
                        <ul class="warning-list">
                            <li>Parental abandonment</li>
                            <li>Betrayal by loved ones</li>
                            <li>Forced marriage</li>
                            <li>Loss of support systems</li>
                            <li>Chosen family dynamics</li>
                        </ul>
                    </div>