<figure class="survivor-quote"><blockquote>
                        <strong>"You have a truly inspiring way with words. I thank you for this...</strong> 
                        It helped me tremendously to get this all out."
                    </blockquote><figcaption><strong>Survivor Story Contributor</strong><span>From a Survivor Featured in Survivor Stories</span></figcaption></figure>
<figure class="survivor-quote"><blockquote>
                        <strong>"...to think that a brief synopsis of some of my history resulted in such profound 
                        understanding from you of me was nice.</strong> Made me cry several times… THANK YOU again."
                    </blockquote><figcaption><strong>Survivor Story Contributor</strong><span>From Another Survivor Story Contributor</span></figcaption></figure>
<figure class="survivor-quote"><blockquote>
                        <strong>"Thank you, thank you, thank you for your powerful writing about medical trauma.</strong> 
                        I write this as a survivor of VCUG, which caused severe trauma and has had profound and 
                        devastating impacts on my life... Please keep writing these stories."
                    </blockquote><figcaption><strong>Anonymous Reader</strong><span>Anonymous Reader of Survivor Stories</span></figcaption></figure>
